// NAMED COLORS
$colors = {
  cerise: #e11d81,
  brick-red: #d2004e,
  bright: #fff,
  deep: #000,
};

// COLORS EXCEPTIONS
$colors-exc = {};

// THEME COLORS
$theme = {
  main: $colors.cerise,
  secondary: $colors.brick-red,
  base: '',
  neutral: '',
  dark: $colors.deep,
  light: $colors.bright,
};