// NAMED COLORS
$colors = {
  bright: #fefefe,
  deep: #000000,

  mirage: #111C26,
  boston-blue: #4585C3,
  calypso: #336391,
  vulcan: #0F182D,

  rhino: #263f56,
  havelock-blue: #5595D3,
  astral: #3A73A3,

  green: #38d92e,
  red: #d4192d,
};

// COLORS EXCEPTIONS
$colors-exc = {};

// THEME COLORS
$theme = {
  main: $colors.mirage,
  secondary: $colors.boston-blue,
  side: $colors.calypso,
  footer: $colors.vulcan,

  hoverMain: $colors.rhino,
  hoverSecondary: $colors.havelock-blue,
  hoverSide: $colors.astral,

  dark: $colors.deep,
  light: $colors.bright,

  checked: $colors.green,
  excluded: $colors.red,
};