container = rem(1280);
gutter = rem(10);

.limit {
  max-width: container;
  padding-left: gutter;
  padding-right: gutter;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
