container = 1280px;
gutter = 10px;

.limit {
  max-width: container;
  padding-left: gutter;
  padding-right: gutter;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
