*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-family: $fontfamily.main;
  background-image: url("../img/body-background-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  //firefox custom scrollbar
  scrollbar-color: $theme.side $theme.main;
  scrollbar-width: auto;

  // ie and edge custom scroll bar
  scrollbar-face-color: $theme.main;
  scrollbar-track-color: $theme.side;
  scrollbar-arrow-color: $theme.main;
  scrollbar-shadow-color: $theme.main; //border
}

body {
  padding-top: 20px;
}

//chrome custom scroll bar
body::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background-color: $theme.main;
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color:  $theme.side;
  border-radius: 0px;
}
body::-webkit-scrollbar-corner {
  background-color: $theme.main;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 90%;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid $colors.astral !important;
}

::placeholder {
  color: $theme.secondary;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $theme.secondary;
}

::-ms-input-placeholder {
  color: $theme.secondary;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator:hover {
  opacity: 100;
  background-color: $theme.hoverMain;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  background-color: blue;
}

