@require "../config/index.styl";


*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-family: $fontfamily.main;
  background-image: url("../img/body-background-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding-top: 40px;
}
