.c-heroes__ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.c-heroes {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 calc(32.33% - 10px);
  justify-items: space-between;
  margin-bottom: 7px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.c-heroes__img {
  width: 87.5px;
  height 49.08px;
  display: block;
  margin-bottom: 3px;
  margin-right: 2px;
  margin-left: 2px;
}