@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d5vve0');
  src:  url('fonts/icomoon.eot?d5vve0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d5vve0') format('truetype'),
    url('fonts/icomoon.woff?d5vve0') format('woff'),
    url('fonts/icomoon.svg?d5vve0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-2:before {
  content: "\e900";
}
.icon-icon-3:before {
  content: "\e901";
}
.icon-icon-4:before {
  content: "\e902";
}
.icon-icon-5:before {
  content: "\e903";
}
.icon-icon-7:before {
  content: "\e904";
}
