.o-error {
  margin-top: rem(30);
  margin-bottom: rem(30);
}

.o-error__message {
  color: red;
  font-wegith: 300;
  font-size: rem(15);
  background-color: rgba(0, 0, 0, 0.6);
  padding: rem(10) rem(20);
}
