.c-footer {
  background-color: $theme.tertiary;
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-top: 2px solid $theme.secondary;
  margin-top: rem(40);
}

.c-footer__container {
  max-width: rem(1160);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: rem(40);
  padding-right: rem(40);
}

.c-footer__disclaimer {
  text-align: center;
  margin-bottom: 0;
}

.c-footer__disclaimer {
  color: $theme.secondary;
  font-size: rem(12);
}

.c-footer__socials {
  font-size: 0;
  text-decoration: none;
}

.c-footer__socials::before {
  content: '\e909';
  font-family: $fontfamily.icon !important;
  color: $theme.secondary;
  font-size: rem(45);
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.c-footer__socials:hover::before {
  color: $theme.hoverSecondary;
}

@media only screen and (min-width: $breakpoints.desktop) {
  .c-footer__socials::before {
    font-size: rem(65);
  }
}