.c-footer {
  background-color: $theme.footer;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid $theme.secondary;
}

.c-footer__container {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.c-footer__disclaimer {
  text-align: center;
  margin-bottom: 0;
}

.c-footer__disclaimer {
  color: $theme.secondary;
  font-size: 12px;
}

.c-footer__socials {
  font-size: 0;
  text-decoration: none;
}

.c-footer__socials::before {
  content: '\e909';
  font-family: 'icomoon' !important;
  color: $theme.secondary;
  font-size: 45px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.c-footer__socials:hover::before {
  color: $theme.hoverSecondary;
}
