.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-gallery__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 1 calc(32.33% - 10px);
  justify-items: space-between;
}

.c-gallery__group-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #fefefe;
}

.c-gallery__group-title::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(50%);
  bottom: 50%;
  left: -60px;
  height: 40px;
  width: 40px;
}

.c-gallery__group-title.-strength::before {
  background-image: url("../img/icons/strength2.png");
}

.c-gallery__group-title.-agility::before {
  background-image: url("../img/icons/agility2.png");
}

.c-gallery__group-title.-intelligence::before {
  background-image: url("../img/icons/intelligence2.png");
}

.c-gallery__heroes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 7px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 2px;
  padding-right: 2px;
  min-height: 320px;
}

.c-gallery__heroes-img {
  display: flex;
  width: 87.5px;
  height: 49.08px;
  display: block;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
  transition 0.05s opacity linear;
}

.c-gallery__heroes-img:hover {
  opacity: 0.6;
  // border: 3px solid #3A73A3;
}

.c-gallery__heroes-img.-selected {
  border: 3px solid #3A73A3;
}

.c-gallery__heroes-img.-excluded {
  border: 3px solid red;
}
