.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.c-gallery__group-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 1 calc(32.33% - 10px);
  justify-content: space-between;
  animation-name: popIn;
  animation-duration: 1s;
}

.c-gallery__group-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(10);
  margin-bottom: rem(20);
  color: $theme.light;
}

.c-gallery__group-title::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(50%);
  bottom: 50%;
  left: rem(-60);
  height: rem(40);
  width: rem(40);
}

.c-gallery__group-title.-strength::before {
  background-image: url("../img/attributes/strength.webp");
}

.c-gallery__group-title.-agility::before {
  background-image: url("../img/attributes/agility.webp");
}

.c-gallery__group-title.-intelligence::before {
  background-image: url("../img/attributes/intelligence.webp");
}

.c-gallery__heroes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: rem(7);
  margin-right: rem(5);
  margin-left: rem(5);
  padding-left: rem(2);
  padding-right: rem(2);
  min-height: rem(320);
}

.c-gallery__hero {
  position: relative;
  width: rem(87.5);
  height: rem(49.08);
  margin-bottom: rem(4);
  margin-right: rem(2);
  margin-left: rem(2);
  transition-duration: 1s;
}

.c-gallery__hero.-selected::after {
  content: '\e901';
  font-family: $fontfamily.icon !important;
  font-size: rem(20);
  color: $theme.checked;
  text-shadow: rem(2) rem(2) rem(2) #000000;
  -webkit-text-stroke-width: rem(1);
  -webkit-text-stroke-color: #000000;
  position: absolute;
  bottom: 0;
  right: rem(2);
  width: rem(23);
  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.3s;
}

.c-gallery__hero.-excluded::after {
  content: '\e902';
  font-family: $fontfamily.icon !important;
  font-size: rem(18);
  color:  $theme.excluded;
  text-shadow: rem(2) rem(2) rem(2) #000000;
  -webkit-text-stroke-width: rem(1);
  -webkit-text-stroke-color: #000000;
  position: absolute;
  bottom: 0;
  right: rem(2);
  width: rem(23);
  height: rem(21);
  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.3s;
}

.c-gallery__hero.-excluded, .c-gallery__hero.-notSelected {
  .c-gallery__hero-img {
    opacity: 0.35;
  }

  .c-gallery__hero-img:hover {
    opacity: 1;
  }
}

.c-gallery__hero-img {
  position: relative;
  display: flex;
  width: rem(87.5);
  height: rem(49.08);
  transition 0.05s opacity linear;
}

.c-gallery__hero-img:hover {
  opacity: 0.6;
}

.c-gallery_slide-button {
  display: none;
}


@media only screen and (max-width: $breakpoints.smartphone) {
  .c-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .c-gallery__hero {
    width: rem(100.63);
    height: rem(56.44);
  }

  .c-gallery__hero-img {
    width: rem(100.63);
    height: rem(56.44);
  }

  .c-gallery__group-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .c-gallery__hero-img:hover {
    opacity: 1;
  }

  .c-gallery__group-title {
    margin-bottom: rem(32);
  }

  .c-gallery__group-title::before {
    left: rem(-60);
    height: rem(50);
    width: rem(50);
  }

  .c-gallery_slide-button-container {
    position: sticky;
    top: 50%;
    z-index: 100;
    align-self: center;
  }
  
  .c-gallery_slide-button {
    display: block;
    font-size: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: rem(5);
    border: none;
    position: absolute;
  }


  .c-gallery_slide-button::before {
    font-family: $fontfamily.icon !important;
    display: block;
    font-size: rem(40);
    color: $theme.light;
  }

  .c-gallery_slide-button.-previous {
    left: rem(0);
  }

  .c-gallery_slide-button.-previous::before {
    content: '\e906';
  }

  .c-gallery_slide-button.-next::before {
    content: '\e907';
  }

  .c-gallery_slide-button.-next {
    right: rem(0);
  }
}
