.c-header {
  position: absolute;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.c-header__container {
  max-width: rem(1180);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.c-header__logo {
  vertical-align: top;
  margin-top: 0;
  margin-bottom: em(20);
  animation-name: popIn;
  animation-duration: 1s;
  margin-left: rem(10);
}

.c-header::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(800);
  width: rem(800);
  right: 0;
  opacity: 0.70;
  animation-name: popIn;
  animation-duration: 1s;
  background-image: url("../img/rubick_header.webp");
}

.c-header__logo-img {
  max-width: 120px;
}

@media only screen and (max-width: $breakpoints.smartphone) {
  .c-header {
    position: relative;
    text-align: center;
  }

  .c-header {
    margin-right: 0;
    margin-left: 0;
  }

  .c-header::after {
    display: none;
  }

  .c-header__logo {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .c-header__logo-img {
    max-width: 230px;
  }

}