.c-header {
  position: absolute;
  max-width: em(1160);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.c-header__logo {
  vertical-align: top;
  margin-top: 0;
  margin-bottom: em(20);
}

.c-header__logo::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 800px;
  right: -90px;
  opacity: 0.70;
  background-image: url("../img/rubick_header.png");
}

.c-header__logo-img {
  max-width: 120px;
}

@media only screen and (min-width: $media.lg) {
  .c-header__logo-img {
    max-width: 180px;
  }

  .c-header__logo::after {
    height: 1200px;
    width: 1200px;
  }
}

@media only screen and (max-width: $media.xs) {
  .c-header {
    position: relative;
    text-align: center;
  }

  .c-header__logo::after {
    display: none;
  }

  .c-header__logo-img {
    max-width: 230px;
  }

}