.c-install-box {
  background-image: url("../img/install-box-background.webp");
  background-position: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: $theme.tertiary;
  border-top: rem(2) solid $theme.secondary;
  border-right: rem(2) solid $theme.secondary;
  border-bottom: rem(2) solid $theme.secondary;
  border-bottom-right-radius: rem(9);
  border-top-right-radius: rem(9);
  -webkit-box-shadow: rem(6) rem(10) rem(12) rem(0) rgba(0,0,0,0.75);
  -moz-box-shadow: rem(6) rem(10) rem(12) rem(0) rgba(0,0,0,0.75);
  box-shadow: rem(6) rem(10) rem(12) rem(0) rgba(0,0,0,0.75);
  margin-top: rem(35);
  display: flex;
  width: 55%;
  max-width: rem(800);
}

.c-install-box__container {
  padding-top: rem(30);
  padding-bottom: rem(30);
  margin-left: rem(230);
  margin-right: rem(20);
}

.c-install-box__title {
  margin-top: 0;
  font-size: rem(26);
  color: $theme.light;
  letter-spacing: rem(2);
  margin-bottom: rem(10);
}

.c-install-box__text {
  margin-top: 0;
  color: $theme.light;
  letter-spacing: rem(2);
  font-size: rem(16);
  margin-bottom: rem(20);
  max-width rem(400);
}

.c-install-box__button {
  padding: rem(15);
}

@media only screen and (min-width: $breakpoints.notebook) {
  .c-install-box {
    width: 90%;
    margin-top: rem(35);
  }
}

@media only screen and (max-width: $breakpoints.smartphone) {
  .c-install-box {
    width: 95%;
    background-position: rem(-85) 0;
    margin-top: rem(75);
  }

  .c-install-box__container {
    padding-right: rem(15);
    padding-top: rem(15);
    padding-bottom: rem(15);
    margin-left: rem(135);
    margin-right: rem(5);
  }

  .c-install-box__title {
    font-size: rem(24);
    margin-bottom: rem(7);
  }

  .c-install-box__text {
    margin-top: 0;
    color: $theme.light;
    font-size: rem(14);
  }

  .c-install-box__button {
    padding: rem(12);
  }

}

@media only screen and (max-width: 321px) {
  .c-install-box {
    width: 100%;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-top: rem(75);
    background-position: rem(-110) 0;
  }

    
  .c-install-box__container {
    margin-left: rem(90);
  }
}