.c-random {
  margin-top: rem(60);
  animation-name: popIn;
  animation-duration: 1s;
}

.o-button.-random {
  display: inline-block;
  width: rem(305);
  height: rem(51);
  line-height: 1;
  font-size: rem(16);
  margin-bottom: rem(20);
}

.c-random_hero-ctn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: rem(27);
  max-width: rem(600);
  min-height: rem(65);
  margin-left: auto;
  margin-right: auto;
}

.c-gallery__hero.-randomized  {
  animation-name: popIn;
  animation-duration: 0.5s;
}

.c-gallery__hero-img.-randomized {
  width: rem(107.67);
  height: rem(60.39);
}

.c-gallery__hero.-randomized {
  width: rem(107.67);
  height: rem(60.39);
  margin-right: rem(4);
  margin-left: rem(4);
  margin-bottom: rem(8);
  -webkit-box-shadow: rem(-3) rem(8) rem(1)  rem(0) rgba(0,0,0,0.75);
  -moz-box-shadow: rem(-3) rem(8) rem(1)  rem(0) rgba(0,0,0,0.75);
  box-shadow: rem(-3) rem(8) rem(1)  rem(0) rgba(0,0,0,0.75);
}

@media only screen and (max-width: $breakpoints.smartphone) {
  .c-random {
    margin-top: 0;
  }
  
  .o-button.-random {
    width: rem(305);
    height: rem(61);
  }

  .c-gallery__hero.-randomized {
    width: rem(138.38);
    height: rem(77.61);
  }

  .c-gallery__hero-img.-randomized {
    width: rem(138.38);
    height: rem(77.61);
  }

  .c-random_hero-ctn {
    min-height: 0;
  }
}
