.c-random {
  margin-top: em(60);
  animation-name: popIn;
  animation-duration: 1s;
}

.o-button.-random {
  display: inline-block;
  width: em(305);
  height: em(51);
  line-height: 1;
  font-size: em(16);
  margin-bottom: em(20);
}

.c-random_hero-ctn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: em(27);
  max-width: em(600);
  min-height: em(65);
  margin-left: auto;
  margin-right: auto;
}

.c-gallery__hero.-randomized  {
  animation-name: popIn;
  animation-duration: 0.5s;
}

.c-gallery__hero-img.-randomized {
  width: em(107.67);
  height: em(60.39);
}

.c-gallery__hero.-randomized {
  width: em(107.67);
  height: em(60.39);
  margin-right: em(4);
  margin-left: em(4);
  margin-bottom: em(8);
  -webkit-box-shadow: -3px 8px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 8px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 8px 12px 0px rgba(0,0,0,0.75);
}

@media only screen and (max-width: $media.xs) {
  .c-random {
    margin-top: 35px;
  }
  
  .o-button.-random {
    width: 305px;
    height: 61px;
  }

  .c-gallery__hero.-randomized {
    width: 138.38px;
    height: 77.61px;
  }

  .c-gallery__hero-img.-randomized {
    width: 138.38px;
    height: 77.61px;
  }

  .c-random_hero-ctn {
    min-height: 0;
  }
}
