.c-settings {
  margin-bottom rem(40);
  margin-top: rem(10);
  max-width: rem(1160);
  margin-right: auto;
  margin-left: auto;
  animation-name: popIn;
  animation-duration: 1s;
}

.c-settings__input-group, .c-settings__button-group {
  display: inline-block;
  vertical-align: top;
}

.c-settings__input {
  background-color: $theme.main;
  border: rem(1) solid $theme.side;
  border-radius: rem(3);
  color: $theme.secondary;
  height: rem(35);
  padding-left: rem(8);
  opacity: 0.90;
  text-transform: capitalize;
  vertical-align: top;

  transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;

  -webkit-box-shadow: rem(0) rem(3) rem(12) rem(0) rgba(0,0,0,0.75);
  -moz-box-shadow: rem(0) rem(3) rem(12) rem(0) rgba(0,0,0,0.75);
  box-shadow: rem(0) rem(3) rem(12) rem(0) rgba(0,0,0,0.75);
}

.c-settings__input.-quantity {
  max-width: rem(60);
}

.c-settings__input:hover,
.c-settings__input:focus,
.c-settings__tag-item:hover {
  opacity: 1;
  color: $theme.hoverSecondary;
  border: rem(1) solid $theme.hoverSide;
}

.o-button.-add, .o-button.-remove, .o-button.-clear{
  display: inline-block;
  width: rem(120);
  height: rem(35);
  font-size: rem(14);
  cursor: pointer;
}

.o-button::before {
  letter-spacing: rem(10);
  font-family: $fontfamily.icon !important;
  font-size: rem(12);
}

.o-button.-add::before {
  content: '\e905';
}

.o-button.-remove::before {
  content: '\e904';
}

.o-button.-clear::before {
  content: '\e900';
}

.c-settings__tag-container {
  padding: 0;
  margin-top: 0;
  margin-bottom: rem(20);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(800);
}

.c-settings__tag-item {
  font-size: rem(16);
  border-radius: rem(3);
  display: inline-block;
  padding: rem(6) rem(10);
  text-align: center;
  margin-right: rem(5);
  margin-bottom: rem(7);
  background-color: $theme.main;
  cursor: pointer;
}

.c-settings__tag-item:hover {
  background-color: $theme.hoverMain;
}

.c-settings__tag-item.-add {
  color: $theme.secondary;
  border: rem(1) solid $theme.side;
}

.c-settings__tag-item.-remove {
  color: $theme.excluded;
  border: rem(1) solid $theme.excluded;
}

.c-settings__tag-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  transform: translateY(rem(0.5));
}

.c-settings__tag-text::before {
  content: '\e903';
  font-family: $fontfamily.icon !important;
  display: inline-block;
  font-size: rem(16);
  margin-right: rem(5);
  transform: translateY(rem(1));
  width: rem(18);
  height: rem(18);
  opacity: 0.9;

}

.c-settings__tag-icon:hover {
  opacity: 1;
}

.c-settings__tag-icon::before{
  content: '\e903';
  
  position: absolute;
  line-height: 0;
  left: 0;
}


@media only screen and (min-width: $breakpoints.tablet) {
  .c-settings__input-group {
    margin-bottom: rem(7);
  }
}

@media only screen and (max-width: $breakpoints.smartphone) {
  .c-settings__tag-item {
    font-size: rem(17);
    padding: rem(10) rem(15);
  }

  .c-settings__tag-icon {
    width: rem(22);
    font-size: rem(25);
    height: rem(22);
    margin-right: rem(5);
  }

  .c-settings__tag-icon::before {
    font-size: rem(22);
  }

  .c-settings__input-group, .c-settings__button-group {
   display: block;
  }
  .c-settings__input {
    margin-bottom: rem(7);
  }

  .c-settings__input {
    display: block;
  }

  .c-settings__input, .c-settings__input.-quantity, .o-button.-clear {
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
    margin-right: auto;
    margin-left: auto; 
  }

  .o-button.-add, .o-button.-remove, .o-button.-clear  {
    height: rem(45);
    line-height: 0;
  }

  .o-button.-add, .o-button.-remove {
    width: calc(50% - 4px);
    vertical-align: top;
    margin-bottom rem(7);
  }
}
