<div class="c-settings" data-random-settings>
  <ul class="c-settings__tag h-hidden" data-tags-container></ul>

  <input 
    class="c-settings__input -quantity" 
    name="randomQuantity" 
    placeholder="Quantity" 
    title="Quantity" 
    type="number" 
    min="1" max="" 
    step="1" 
    value="1" 
    type="text" 
    data-random-quantity-input spellcheck=false 
  />

  <input 
    class="c-settings__input" 
    spellcheck=false 
    placeholder="Filter by role"
    title="Filter by role"
    type="text" 
    list="filterHeroes"
    data-heroes-role-input
  />
  
  <datalist id="filterHeroes" data-filter-heroes-list>
  </datalist>

  <input 
    class="c-settings__input" 
    placeholder="Filter by hero name" 
    title="Filter by hero name" 
    type="text" 
    list="searchHero" 
    data-search-hero-input 
    spellcheck=false 
  />

  <datalist id="searchHero" data-search-hero-list>
  </datalist>

  <button class="o-button -add" data-add-button>add</button>
  <button class="o-button -remove" data-remove-button>remove</button>
  <button class="o-button -clear" data-clear-button>clear</button>
</div>
