<footer class="c-footer">
  <div class="c-footer__container">
    <a href="https://github.com/luansergiomattos/Dota2RandomTool" class="c-footer__socials">Github</a>
    <p class="c-footer__disclaimer">
      This is a fan site. This site is in no way associated with or endorsed by Valve Corporation. <br class="h-mobile-off">
      Dota 2™ and all respective names are registered trademark of Valve Corporation ®
    </p>
  </div>
</footer>
