<header class="c-header">
  <div class="c-header__container">
    <h1 class="c-header__logo">
      <img src="src/assets/img/logo_blue.webp" alt="Dota 2 Random Tool" class="c-header__logo-img">
    </h1>
  </div>
</header>