<section class="c-gallery" data-heroes-gallery>
  <div class="c-gallery__group-container" data-group-container>
    <h2 class="c-gallery__group-title -strength">Strength</h2>
    <div class="c-gallery__groups" data-group="strength">
    </div>
  </div>
  
  <div class="c-gallery__group-container" data-group-container>
    <h2 class="c-gallery__group-title -agility">Agility</h2>
    <div class="c-gallery__group" data-group="agility">
    </div>
  </div>
  
  <div class="c-gallery__group-container" data-group-container>
    <h2 class="c-gallery__group-title -intelligence">Intelligence</h2>
    <div class="c-gallery__group" data-group="intelligence">
    </div>
  </div>
</section>
