<div class="c-install-box h-hidden">
  <div class="c-install-box__container">
    <h3 class="c-install-box__title">
      Install App
    </h3>
    <p class="c-install-box__text">
      You can install this site as an app (PWA), <br class="h-mobile-off">
      So you can launch it from your homescreen.
    </p>
    <button class="c-install-box__button o-button" data-install-pwa-button>Install</button>
  </div>
</div>