<div class="c-settings" data-random-settings>
  <input 
    class="c-settings__input" 
    name="randomQuantity" 
    placeholder="Quantity" 
    type="number" 
    min="1" max="" 
    step="1" 
    value="1" 
    type="text" 
    data-random-quantity-input spellcheck=false 
  />

  <input 
    class="c-settings__input" 
    spellcheck=false 
    placeholder="Select a filter" 
    type="text" 
    list="filterHeroes" 
    data-input-heroes-role
  />
  
  <datalist id="filterHeroes" data-filter-heroes-list>
  </datalist>

  <input 
    class="c-settings__input" 
    placeholder="Hero name" 
    type="text" 
    list="searchHero" 
    data-search-hero-input spellcheck=false 
  />

  <datalist id="searchHero" data-search-hero-list>
  </datalist>

  <button class="c-button -add" data-add-button>add</button>
  <button class="c-button -remove" data-remove-button>remove</button>
</div>
