<div class="c-settings">
  <input type="text" list="randomQuantity" placeholder="Quantity" />
  <datalist id="randomQuantity" data-random-quantity>
  </datalist>

  <input type="text" list="filterHeroes" placeholder="Select a filter" />
  <datalist id="filterHeroes" data-filter-heroes>
  </datalist>

  <input type="text" list="searchHero" placeholder="Hero name" />
  <datalist id="searchHero" data-search-hero>
  </datalist>

  <button class="c-button -add">+ add</button>
  <button class="c-button -add">- remove</button>
</div>
