<section class="c-random" data-random-ctn>
  <div class="c-random_hero-ctn" data-random-hero>
  </div>
  <button class="o-button -random" data-random-button autofocus>Random</button>

  {{> filterSettings }}
</section>
