<div class="c-settings">
  <input type="number" min="1" max="" name="randomQuantity" step="1" class="c-settings__input" data-random-quantity-input spellcheck=false type="text" value="1" placeholder="Quantity" />

  <input class="c-settings__input" data-filter-heroes-input spellcheck=false type="text" list="filterHeroes" placeholder="Select a filter" />
  <datalist id="filterHeroes" data-filter-heroes-list>
  </datalist>

  <input class="c-settings__input" data-search-hero-input spellcheck=false type="text" list="searchHero" placeholder="Hero name" />
  <datalist id="searchHero" data-search-hero-list>
  </datalist>

  <button class="c-button -add" data-add-button>add</button>
  <button class="c-button -remove" data-remove-button>remove</button>
</div>
