.limit {
  max-width: 80em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: 'icomoon';
  src: url("icomoon.f080c421.eot?d5vve0");
  src: url("icomoon.f080c421.eot?d5vve0#iefix") format('embedded-opentype'), url("icomoon.c8d4607f.ttf?d5vve0") format('truetype'), url("icomoon.4363cb12.woff?d5vve0") format('woff'), url("icomoon.341cb7f8.svg?d5vve0#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-family: 'Roboto' , sans-serif;
  background-image: url("body-background.0a6c8dca.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1em;
  scrollbar-color: #336391 #111c26;
  scrollbar-width: auto;
  scrollbar-face-color: #111c26;
  scrollbar-track-color: #336391;
  scrollbar-arrow-color: #111c26;
  scrollbar-shadow-color: #111c26;
}
body {
  padding-top: 20px;
}
body::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background-color: #111c26;
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #336391;
  border-radius: 0px;
}
body::-webkit-scrollbar-corner {
  background-color: #111c26;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 90%;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #3a73a3 !important;
}
::placeholder {
  color: #4585c3;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #4585c3;
}
::-ms-input-placeholder {
  color: #4585c3;
}
input::-webkit-calendar-picker-indicator {
  opacity: 100;
  cursor: pointer;
}
input::-webkit-calendar-picker-indicator:hover {
  opacity: 100;
  background-color: #263f56;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  background-color: #00f;
}
@media only screen and (min-width: 1366px) {
  body {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 2560px) {
  body {
    font-size: 2em;
  }
}
@-moz-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.c-header {
  position: absolute;
  max-width: 73.75em;
  margin-right: 0.625em;
  margin-left: 0.625em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}
.c-header__logo {
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 1.25em;
  animation-name: popIn;
  animation-duration: 1s;
}
.c-header__logo::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 800px;
  right: -90px;
  opacity: 0.7;
  animation-name: popIn;
  animation-duration: 1s;
  background-image: url("rubick_header.ca75acba.png");
}
.c-header__logo-img {
  max-width: 120px;
}
@media only screen and (min-width: 1366px) {
  .c-header__logo-img {
    max-width: 180px;
  }
  .c-header__logo::after {
    height: 1200px;
    width: 1200px;
  }
}
@media only screen and (max-width: 767px) {
  .c-header {
    position: relative;
    text-align: center;
  }
  .c-header {
    margin-right: 0;
    margin-left: 0;
  }
  .c-header__logo::after {
    display: none;
  }
  .c-header__logo-img {
    max-width: 230px;
  }
}
.c-random {
  margin-top: 3.75em;
  animation-name: popIn;
  animation-duration: 1s;
}
.o-button.-random {
  display: inline-block;
  width: 19.0625em;
  height: 3.1875em;
  line-height: 1;
  font-size: 1em;
  margin-bottom: 1.25em;
}
.c-random_hero-ctn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.6875em;
  max-width: 35.9375em;
  min-height: 4.0625em;
  margin-left: auto;
  margin-right: auto;
}
.c-gallery__hero.-randomized {
  animation-name: popIn;
  animation-duration: 0.5s;
}
.c-gallery__hero-img.-randomized {
  width: 6.289375em;
  height: 3.5275em;
}
.c-gallery__hero.-randomized {
  width: 6.289375em;
  height: 3.5275em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 0.5em;
  -webkit-box-shadow: -3px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 8px 12px 0px rgba(0,0,0,0.75);
}
@media only screen and (max-width: 767px) {
  .c-random {
    margin-top: 35px;
  }
  .o-button.-random {
    width: 305px;
    height: 61px;
  }
  .c-gallery__hero.-randomized {
    width: 110.7px;
    height: 62.09px;
  }
  .c-gallery__hero-img.-randomized {
    width: 110.7px;
    height: 62.09px;
  }
  .c-random_hero-ctn {
    min-height: 0;
  }
}
.c-settings {
  margin-bottom: 2.5em;
  margin-top: 0.625em;
  max-width: 72.5em;
  margin-right: auto;
  margin-left: auto;
  animation-name: popIn;
  animation-duration: 1s;
}
.c-settings__input-group,
.c-settings__button-group {
  display: inline-block;
  vertical-align: top;
}
.c-settings__input {
  background-color: #111c26;
  border: 1px solid #336391;
  border-radius: 3px;
  color: #4585c3;
  height: 2.1875rem;
  padding-left: 0.5rem;
  opacity: 0.9;
  text-transform: capitalize;
  vertical-align: top;
  transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}
.c-settings__input.-quantity {
  max-width: 3.75em;
}
.c-settings__input:hover,
.c-settings__input:focus,
.c-settings__tag-item:hover {
  opacity: 1;
  color: #5595d3;
  border: 1px solid #3a73a3;
}
.o-button.-add,
.o-button.-remove,
.o-button.-clear {
  display: inline-block;
  width: 7.5rem;
  height: 2.1875rem;
  font-size: 0.875rem;
  cursor: pointer;
}
.o-button::before {
  letter-spacing: 0.625rem;
  font-family: 'icomoon' !important;
  font-size: 0.75rem;
}
.o-button.-add::before {
  content: '\e905';
}
.o-button.-remove::before {
  content: '\e904';
}
.o-button.-clear::before {
  content: '\e900';
}
.c-settings__tag {
  padding: 0;
  margin-top: 0.3125em;
  margin-bottom: 0.625em;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}
.c-settings__tag-item {
  font-size: 1em;
  border-radius: 3px;
  display: inline-block;
  padding: 0.3125em 0.625em;
  line-height: 0;
  text-align: center;
  margin-right: 0.3125em;
  margin-bottom: 0.4375em;
  background-color: #111c26;
}
.c-settings__tag-item:hover {
  background-color: #263f56;
}
.c-settings__tag-item.-add {
  color: #4585c3;
  border: 1px solid #336391;
}
.c-settings__tag-item.-remove {
  color: #d4192d;
  border: 1px solid #d4192d;
}
.c-settings__tag-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  transform: translateY(0.5px);
}
.c-settings__tag-icon {
  background-color: rgba(0,0,0,0);
  border: 0;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.125em;
  height: 1.125em;
  padding: 0;
  position: relative;
  cursor: pointer;
  opacity: 0.9;
}
.c-settings__tag-icon:hover {
  opacity: 1;
}
.c-settings__tag-icon::before {
  content: '\e903';
  font-family: 'icomoon' !important;
  position: absolute;
  line-height: 0;
  font-size: 0.9375em;
  left: 0;
}
@media only screen and (min-width: 1366px) {
  .o-button.-add,
  .o-button.-remove,
  .o-button.-clear {
    width: 7.5em;
    height: 2.1875em;
    font-size: 0.875em;
  }
  .c-settings__input {
    height: 2.1875em;
    padding-left: 0.5em;
  }
  .o-button::before {
    letter-spacing: 0.625em;
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 768px) {
  .c-settings__input-group {
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 767px) {
  .c-settings__tag-item {
    font-size: 17px;
    padding: 10px 15px;
  }
  .c-settings__tag-icon {
    width: 22px;
    font-size: 25px;
    height: 22px;
    margin-right: 5px;
  }
  .c-settings__tag-icon::before {
    font-size: 22px;
  }
  .c-settings__input-group,
  .c-settings__button-group {
    display: block;
  }
  .c-settings__input {
    margin-bottom: 7px;
  }
  .c-settings__input {
    display: block;
  }
  .c-settings__input,
  .c-settings__input.-quantity,
  .o-button.-clear {
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
    margin-right: auto;
    margin-left: auto;
  }
  .o-button.-add,
  .o-button.-remove,
  .o-button.-clear {
    height: 45px;
    line-height: 0;
  }
  .o-button.-add,
  .o-button.-remove {
    width: calc(50% - 4px);
    vertical-align: top;
    margin-bottom: 7px;
  }
}
.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5em;
  align-items: flex-start;
}
.c-gallery__group-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 1 calc(32.33% - 10px);
  justify-items: space-between;
  animation-name: popIn;
  animation-duration: 1s;
}
.c-gallery__group-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  color: #fefefe;
}
.c-gallery__group-title::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(50%);
  bottom: 50%;
  left: -3.75rem;
  height: 2.5rem;
  width: 2.5rem;
}
.c-gallery__group-title.-strength::before {
  background-image: url("strength.595e1600.webp");
}
.c-gallery__group-title.-agility::before {
  background-image: url("agility.d2896732.webp");
}
.c-gallery__group-title.-intelligence::before {
  background-image: url("intelligence.5f40a2f9.webp");
}
.c-gallery__heroes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 0.4375em;
  margin-right: 0.3125em;
  margin-left: 0.3125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  min-height: 320px;
}
.c-gallery__hero {
  position: relative;
  width: 5.46875em;
  height: 3.0675em;
  margin-bottom: 0.25em;
  margin-right: 0.125em;
  margin-left: 0.125em;
  transition-duration: 1s;
}
.c-gallery__hero.-selected::after {
  content: '\e901';
  font-family: 'icomoon' !important;
  font-size: 1.25em;
  color: #38d92e;
  text-shadow: 2px 2px 2px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  position: absolute;
  bottom: 0;
  right: 0.125em;
  width: 1.4375em;
  transition: 0.15s;
  transition-timing-function: linear;
}
.c-gallery__hero.-excluded::after {
  content: '\e902';
  font-family: 'icomoon' !important;
  font-size: 1.125em;
  color: #d4192d;
  text-shadow: 2px 2px 2px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  position: absolute;
  bottom: 0;
  right: 0.125em;
  width: 1.4375em;
  height: 1.3125em;
  transition: 0.15s;
  transition-timing-function: linear;
}
.c-gallery__hero.-excluded .c-gallery__hero-img,
.c-gallery__hero.-notSelected .c-gallery__hero-img {
  opacity: 0.35;
}
.c-gallery__hero.-excluded .c-gallery__hero-img:hover,
.c-gallery__hero.-notSelected .c-gallery__hero-img:hover {
  opacity: 1;
}
.c-gallery__hero-img {
  position: relative;
  display: flex;
  width: 5.46875em;
  height: 3.0675em;
  transition: 0.05s opacity linear;
}
.c-gallery__hero-img:hover {
  opacity: 0.6;
}
.c-gallery_slide-button {
  display: none;
}
@media only screen and (min-width: 1366px) {
  .c-gallery__group-title::before {
    left: -2.8125em;
    height: 1.875em;
    width: 1.875em;
  }
}
@media only screen and (max-width: 768px) {
  .c-gallery__heroes {
    justify-content: center;
  }
  .c-gallery__group-container {
    animation-name: slideInFromRight;
    animation-duration: 0.1s;
  }
}
@media only screen and (max-width: 767px) {
  .c-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .c-gallery__hero {
    width: 100.63px;
    height: 56.44px;
  }
  .c-gallery__hero-img {
    width: 100.63px;
    height: 56.44px;
  }
  .c-gallery__group-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .c-gallery__hero-img:hover {
    opacity: 1;
  }
  .c-gallery__group-title {
    margin-bottom: 32px;
  }
  .c-gallery__group-title::before {
    left: -60px;
    height: 50px;
    width: 50px;
  }
  .c-gallery_slide-button-container {
    position: sticky;
    display: flex;
    top: 44.7%;
    z-index: 100;
    align-self: center;
  }
  .c-gallery_slide-button {
    display: block;
    font-size: 0;
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    border: none;
    position: absolute;
  }
  .c-gallery_slide-button::before {
    font-family: 'icomoon' !important;
    display: block;
    font-size: 40px;
    color: #fefefe;
  }
  .c-gallery_slide-button.-previus {
    left: 0px;
  }
  .c-gallery_slide-button.-previus::before {
    content: '\e906';
  }
  .c-gallery_slide-button.-next::before {
    content: '\e907';
  }
  .c-gallery_slide-button.-next {
    right: 0px;
  }
}
.c-footer {
  background-color: #0d111c;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border-top: 2px solid #4585c3;
}
.c-footer__container {
  max-width: 72.5rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.c-footer__disclaimer {
  text-align: center;
  margin-bottom: 0;
}
.c-footer__disclaimer {
  color: #4585c3;
  font-size: 0.75em;
}
.c-footer__socials {
  font-size: 0;
  text-decoration: none;
}
.c-footer__socials::before {
  content: '\e909';
  font-family: 'icomoon' !important;
  color: #4585c3;
  font-size: 2.8125rem;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.c-footer__socials:hover::before {
  color: #5595d3;
}
@media only screen and (min-width: 1366px) {
  .c-footer__socials::before {
    font-size: 4.0625rem;
  }
}
.o-button {
  -webkit-text-stroke: 0.2px;
  text-stroke: 0.2px;
  text-shadow: 2px 2px 5px #000;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #111c26;
  color: #4585c3;
  border: 1px solid #336391;
  border-radius: 3px;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}
.o-button:hover {
  transition: none;
  background-color: #263f56;
  color: #5595d3;
  border: 1px solid #3a73a3;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.o-error {
  margin-top: 30px;
  margin-bottom: 30px;
}
.o-error__message {
  color: #f00;
  font-wegith: 300;
  font-size: 15px;
  background-color: rgba(0,0,0,0.3);
  padding: 10px 20px;
}
@media only screen and (max-width: 767px) {
  .h-mobile-off {
    display: none;
  }
}
.h-hidden {
  display: none;
}


/*# sourceMappingURL=apps.4d451b4b.css.map */